{% extends "base.html" %}
{% block title %} Labor Dashboard {% endblock %}


{% block page_content %}

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="page-header">
				<h1>
					Labor Task <small></small>
				</h1>
			</div>
			<ul>
				<li>
					Name: John
				</li>
				<li>
					Labor ID: LA50098
				</li>
				<li>
					Date: 2016/7/1
				</li>

			</ul>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							Attribute
						</th>
						<th>
							Value
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Total Cargos
						</td>
						<td>
							50
						</td>
					</tr>
					<tr>
						<td>
							Remaining Cargos
						</td>
						<td>
							38
						</td>
					</tr>
					<tr>
						<td>
							Terminal 1
						</td>
						<td>
							15
						</td>
					</tr>
					<tr>
						<td>
							Terminal 2
						</td>
						<td>
							12
						</td>
					</tr>
					<tr>
						<td>
							Terminal 3
						</td>
						<td>
							11
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
{% endblock %}
